<html>
	<head>
		<title> The bidding platform</title>
		<style>
			body {
				background: #BFBFBF;
			}
			h1 {
				color: black;
				
			}
			h2 {
				color: black;
			}
			h3 {
				color:black;
			}
		</style>
		<script>
		alert ("are you okay");
		</script>
	</head>
	<body>
    <h1>Hello this is a blog i think</h1>
    <h2>On this blog will appear the latest fashion tips</h2>
    <h3>Hair</h3>
    <img src="hair.jpeg" alt="sexy bed hair"> 
    <h3>Heels</h3>
    <img src="boots.jpg" alt="sexy bed hair"> 
    <h3>Skirts</h3>
    <img src="skirt.jpg" alt="sexy bed hair"> 
    <h3>Work</h3>
    <img src="work.jpg" alt="work">
   
</body>
</html>