<head>
	<meta charset="utf-8">

	<title>Fashion Paux</title>
	<link rel="stylesheets" href="css/style.css"> #linking to css file "style.css"
 </head>
 <body>
	<div class="container">

	<h1> The Fashion Blog</h1> 
	<h4>All the latest fashion,All the time, At your fingertips</h4>
</br>
	  <p>All you need to do is download and have some fun. We can be found on <a href="https://www.android.com" target="_blank"> android</a>,<a href="https://www.apple.com" target="_blank">IOS</a>and even <a href="https://www.apple.com" target="_blank"> Shaomi</a>, yes even Shaomi. We are international. We are not on Hawavi as they are sponsered by the chinese govermenmt and we prefer U.S companies like Sisco or Europeon companies like Eriksson or thier new partnership </p>

	 <a href="https://www.android.com" target="_blank">
	  <img src="icon.jpg" alt="social media icon">
	</a>
	<a href="https://www.android.com" target="_blank">
	  <img src="social.jpg" alt="social media icon">
	</a>

</div>
<div class="container-video">
<iframe src="https://player.vimeo.com/video/123362686" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
</div>
</body>


